{% load i18n %} 

<h1>{% trans "Hello World" %}</h1>

<p>{% trans "Welcome to my site." %}</p>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
	{% endfor %}
    </ul>
{% endif %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
	{% get_available_languages as LANGUAGES  %}
	{% get_language_info_list for LANGUAGES as langs %}
        {% for lang in langs %}
            {% if lang.code != LANGUAGE_CODE %}
                <option value="{{ lang.code }}">
                    {{ lang.name_local }} 
                </option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="{% trans 'Go' %}" />
</form>

<h3>{% trans "This is an awesome form." %}</h3>
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Submit' %}" />
</form>
